<div
  class="d-flex flex-column p-2  border-end sidebar-container"
  [ngClass]="{ 'collapsed-sidebar': collapsed }"
>
  <ul class="nav nav-pills flex-column mb-auto w-100 text-center text-md-start">
    <li class="nav-item">
      <a routerLink="/admin/dashboard" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-speedometer2 me-2"></i>
          <span>Dashboard</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-speedometer2"></i>
          <small>Dashboard</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/users" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-question-circle me-2"></i>
          <span>UsersInfo</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-question-circle"></i>
          <small>UsersInfo</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/submodule/1" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-box me-2"></i>
          <span>SubModule</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-box"></i>
          <small>SubModule</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/orders" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-table me-2"></i>
          <span>Orders</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-table"></i>
          <small>Orders</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/products" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-box-seam me-2"></i>
          <span>Products</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-box-seam"></i>
          <small>Products</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/cart-list" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-cart3 me-2"></i>
          <span>Cart List</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-cart3"></i>
          <small>Cart</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/wishlist-list" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-heart me-2"></i>
          <span>Wishlist List</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-heart"></i>
          <small>Wishlist</small>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/customers" routerLinkActive="active bg-success text-white" class="nav-link link-dark sidebar-link">
        <div *ngIf="!collapsed" class="expanded-wrapper">
          <i class="bi bi-people me-2"></i>
          <span>Customers</span>
        </div>
        <div *ngIf="collapsed" class="collapsed-wrapper">
          <i class="bi bi-people"></i>
          <small>Customers</small>
        </div>
      </a>
    </li>
  </ul>
</div>
